Repository physiopy/phys2denoise, pull requests merged in 2024-08, with the labels that each got.

#56 Generate docs
  README.rst
  docs/Makefile
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/requirements.txt
  docs/usage.rst
  docs/user_guide/exporting.rst
  docs/user_guide/metrics.rst
Labels: Documentation

#61 Fix readthedocs config
  .readthedocs.yml
Labels: Internal, Documentation

#54 Integrate physutils - Physio object usage
  .all-contributorsrc
  .circleci/config.yml
  docs/user_guide/metrics.rst
  phys2denoise/metrics/cardiac.py
  phys2denoise/metrics/chest_belt.py
  phys2denoise/metrics/multimodal.py
  phys2denoise/metrics/responses.py
  phys2denoise/metrics/utils.py
  phys2denoise/tests/conftest.py
  phys2denoise/tests/test_metrics_cardiac.py
  phys2denoise/tests/test_metrics_chest_belt.py
  phys2denoise/tests/test_metrics_utils.py
  phys2denoise/tests/test_rvt.py
  setup.cfg
Labels: Testing, Minormod-breaking

#63 Release Fix
  .all-contributorsrc
Labels: Minormod-breaking

#64 Add contribution
  .zenodo.json
Labels: Internal

#65 Update contributors
  .all-contributorsrc
  .zenodo.json
  README.md
Labels: Internal, Documentation
